<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/error-styles.css">
    <title>Error 403</title>
</head>
<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <h1>Грешка 403!</h1>

        <div class="error-info">
            <p>Поради някаква причина нямате право да виждате това съдържание!</p>
            <p>Съжаляваме! Моля върнете се към <a th:href="@{/}">началната страница</a>...</p>
        </div>

        <div>
            <img th:src="@{/images/error/403-error.png}" class="center" style="width: 300px; height: 300px"/>
        </div>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

    <script src="\js\show-menu-profile.js"></script>

</body>
</html>