h1 {
    width: 100%;
    padding-bottom: 0.5em;
    font-family: 'Lobster';
    font-weight: 300;
    font-size: 30px;
    text-align: center;
}

main h1::after {
    display: block;
    content: '';
    background-color: #0A67AA;
    width: 7%;
    height: 2px;
    position: absolute;
    left: 46.5%;
}

main {
    padding: 1.5em 8em 2em 8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}

main article {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-top: 1em;
}

main article .article-header {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

main article div ul li span {
    font-weight: 500;
    font-style: oblique;
}

main article .list-1 ul li::before,
main article .list-2 ul li::before {
    display: inline-block;
    content: '✔️';
    padding-left: 1em;
    padding-right: 0.3em;
}

main article .list-2 ul li::before {
    content: '⭐';
}

main article .article-footer h3 {
    font-family: 'Great Vibes';
    font-size: 30px;
    font-weight: 500;
}