.alert {
    width: 55%;
    color: white;
    padding: 0.5em 1em;
    margin: 1em 0 1em 0;
    border-radius: 0.5em;
    border: none;
    text-align: center;
}

.alert-success {
    background-color: #4CAF50;
}

.alert-failure {
    background-color: #e74c3c;
}

.text-danger {
    color: #C00;
    font-style: oblique;
    font-size: 12px;
}

.button-add,
.button-delete {
    padding: 0.5em 1em;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
}

.button-delete {
    background-color: #e74c3c;
}