body {
    width: 100%;
    font-family: 'Lobster';
    display: flex;
    justify-content: center;
}

.email-container {
    display: flex;
    padding: 1em 2em;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    width: 700px;
    border-radius: 0.3em;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

h1 {
    color: #0A67AA;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    position: relative;
}

h1:after {
    display: block;
    content: '';
    background-color: #0A67AA;
    width: 80%;
    height: 1px;
    margin-top: 0.2em;
    position: absolute;
    left: 10%;
}

.content {
    font-size: 16px;
    line-height: 1.2;
    color: #666666;
}

.content ul {
    list-style-type: disc;
}

span {
    font-weight: 600;
    font-style: oblique;
}