h1 {
    width: 100%;
    padding-bottom: 0.5em;
    font-family: 'Lobster';
    font-weight: 300;
    font-size: 30px;
    text-align: center;
}

main h1::after {
    display: block;
    content: '';
    background-color: #0A67AA;
    width: 7%;
    height: 2px;
    position: absolute;
    left: 47.5%;
}

main {
    padding: 1.5em 8em 2em 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}

main article {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-top: 1em;
}

main article ol {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

main article ol > li::marker {
    font-size: 18px;
    font-weight: 600;
}

main article ol li h4 {
    font-size: 18px;
}

main article ol li ul {
    list-style-type: disc;
    padding-left: 1em;
}

main article ol li h4 ~ p {
    margin-left: -1em;
}

main article ol li ul li > ul {
    list-style-type: circle;
}