<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/about-us-styles.css">
    <title>За нас</title>
</head>

<body>
    
    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <h1>За нас</h1>

        <article>
            <div class="article-header">
                <h2>Открийте света със "Sunrise Travel"! 🌅</h2>

                <p>Добре дошли в Sunrise Travel – Вашият доверен партньор в света на туризма!</p>
                <p>С доказан опит и страст към пътуванията, ние съчетаваме професионализъм, индивидуален подход и внимание 
                    към всеки детайл. Нашата мисия е да превърнем всяко Ваше пътешествие в незабравимо изживяване!</p>
    
                <p>Със седалище във Велинград, "Sunrise Travel" предлага широка гама от туристически услуги – от екзотични 
                    почивки до културни турове и вълнуващи приключения. Работим с най-добрите хотели, транспортни компании и 
                    туристически водачи, за да гарантираме комфорт, сигурност и незабравими емоции за всеки наш клиент.</p>
            </div>

            <div class="list-1">
                <h3>Какво предлагаме:</h3>

                <ul>
                    <li><span>Персонализирани туристически пакети</span> – създадени според Вашите мечти и предпочитания.</li>
                    <li><span>Хотелски резервации и транспорт</span> – грижим се за всеки детайл, за да се насладите на пътуването си без 
                        грижи.</li>
                    <li><span>Групови и индивидуални екскурзии</span> – специални оферти за семейства, приятели или романтични пътешествия.</li>
                    <li><span>Професионално обслужване</span> – подкрепа от нашия екип на всеки етап от пътуването.</li>
                </ul>
            </div>

            <div class="list-2">
                <h3>Защо да изберете нас?</h3>

                <ul>
                    <li><span>Експерти в туризма:</span> Дългогодишен опит и отлична репутация в организирането на пътувания.</li>
                    <li><span>Широк избор от дестинации:</span> От Европа и Азия до екзотиката на Карибите и Африка.</li>
                    <li><span>Коректност и надеждност:</span> Ние сме с Вас от първия момент на планирането до завръщането у дома.</li>
                    <li><span>Пътуването не е просто движение</span> – то е изживяване, вдъхновение и магия.</li>
                </ul>    
            </div>
            
            <div class="article-footer">
                <h3>Sunrise Travel – Пътувай. Откривай. Мечтай.</h3>
            </div>
        </article>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

    <script src="\js\show-menu.js"></script>
    <script src="\js\show-menu-profile.js"></script>
    <script src="\js\show-menu-team.js"></script>

</body>
</html>