<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\static\css\reset.css">
    <link rel="stylesheet" href="\static\css\header-styles.css">
    <link rel="stylesheet" href="\static\css\about-us-styles.css">
    <link rel="stylesheet" href="\static\css\footer-styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>За нас</title>
</head>
<body>
    
    <header>
        <nav>
            <div class="logo-container">
                <img alt="logo" src="\static\images\logo.jpg">

                <div class="navbar">
                    <ul class="contacts">
                        <li>
                            <i class="fa-solid fa-phone-volume"></i>
                            <p>+359 888 232 555</p>
                        </li>
                        <li>
                            <i class="fa-solid fa-envelope-open"></i>
                            <p>sunrise_travel@gmail.com</p>
                        </li>
                        <li>
                            <i class="fa-brands fa-facebook"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-tiktok"></i>
                        </li>
                    </ul>
    
                    <ul class="menu">
                        <li><a href="index.html">Начало</a></li>
                        <li><a href="">Дестинации</a></li>
                        <li><a href="">Екскурзии</a></li>
                        <li><a href="about-us.html">За нас</a></li>
                        <li><a href="contacts.html">Контакти</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                    </ul>
                </div>
            </div>  
        </nav>
    </header>

    <main>
        <h1>За нас</h1>

        <article>
            <div class="article-header">
                <h2>Открийте света със "Sunrise Travel"! 🌅</h2>

                <p>Добре дошли в Sunrise Travel – Вашият доверен партньор в света на туризма!</p>
                <p>С доказан опит и страст към пътуванията, ние съчетаваме професионализъм, индивидуален подход и внимание 
                    към всеки детайл. Нашата мисия е да превърнем всяко Ваше пътешествие в незабравимо изживяване!</p>
    
                <p>Със седалище във Велинград, "Sunrise Travel" предлага широка гама от туристически услуги – от екзотични 
                    почивки до културни турове и вълнуващи приключения. Работим с най-добрите хотели, транспортни компании и 
                    туристически водачи, за да гарантираме комфорт, сигурност и незабравими емоции за всеки наш клиент.</p>
            </div>

            <div class="list-1">
                <h3>Какво предлагаме:</h3>

                <ul>
                    <li><span>Персонализирани туристически пакети</span> – създадени според Вашите мечти и предпочитания.</li>
                    <li><span>Хотелски резервации и транспорт</span> – грижим се за всеки детайл, за да се насладите на пътуването си без 
                        грижи.</li>
                    <li><span>Групови и индивидуални екскурзии</span> – специални оферти за семейства, приятели или романтични пътешествия.</li>
                    <li><span>Професионално обслужване</span> – подкрепа от нашия екип на всеки етап от пътуването.</li>
                </ul>
            </div>

            <div class="list-2">
                <h3>Защо да изберете нас?</h3>

                <ul>
                    <li><span>Експерти в туризма:</span> Дългогодишен опит и отлична репутация в организирането на пътувания.</li>
                    <li><span>Широк избор от дестинации:</span> От Европа и Азия до екзотиката на Карибите и Африка.</li>
                    <li><span>Коректност и надеждност:</span> Ние сме с Вас от първия момент на планирането до завръщането у дома.</li>
                    <li><span>Пътуването не е просто движение</span> – то е изживяване, вдъхновение и магия.</li>
                </ul>    
            </div>
            
            <div class="article-footer">
                <h3>Sunrise Travel – Пътувай. Откривай. Мечтай.</h3>
            </div>
        </article>
    </main>

    <footer>
        <div class="address">
            <h3>Адрес</h3>
            <ul>
                <li>п.к. 4600, град Велинград,</li> 
                <li>бул.Съединение №83</li>
            </ul>
        </div>

        <div class="contacts">
            <h3>Контакти</h3>
            <ul>
                <li>+359 888 232 555</li> 
                <li>sunrise_travel@gmail.com</li> 
            </ul>
        </div>

        <div class="resources">
            <h3>Полезно</h3>
            <ul>
                <li><a href="about-us.html">За нас</a></li>
                <li><a href="privacy-policy.html">Политика за поверителност</a></li>
                <li><a href="general-conditions.html">Общи условия</a></li>
            </ul>
        </div>

        <div class="mobile-apps">
            <h3>Споделете</h3>
            <ul>
                <li><a href=""><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href=""><i class="fa-brands fa-tiktok"></i></a></li>
            </ul>                
        </div>

        <p>Този сайт, е с информационна и рекламна цел и е възможно поради динамиката на ценообразуване да има промяна 
            в офертите преди датата на пътуване. Информация съгласно чл. 80 от Закона за Туризма може да получите в 
            нашите офиси или оторизираните агенти.</p>

        <div class="copyright">
            <p>&copy 2025 Sunrise Travel Team. Всички права запазени.</p>

            <p>Програмиране: инж. Савина Дженимова</p>
        </div>
    </footer>

</body>
</html>