<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/contacts-styles.css">
    <title>Контакти</title>
</head>

<body>
    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <h1>Контакти</h1>

        <div class="offices">
            <div class="office1">
                <h3>Централен офис град Велинград</h3>
            
                <ul>
                    <li>Адрес: бул. "Съединение" №83</li>
                    <li>Телефон: +359 888 232 555</li>
                    <li>Email: sunrise_travel@gmail.com</li>
                </ul>
            </div>

            <div class="office2">
                <h3>Офис град Мадан</h3>
            
                <ul>
                    <li>Адрес: ул. "Република" № 10</li>
                    <li>Телефон: +359 888 343 999</li>
                    <li>Email: sunrise_travel@gmail.com</li>
                </ul>
            </div>
        </div>

        <div class="working-hours">
            <h3>Работно време</h3>

            <ul>
                <li>Понеделник - Петък: 09:00 - 18:00</li>
                <li>Събота - Неделя: Почивен ден</li>
            </ul>
        </div>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

    <script src="\js\show-menu.js"></script>

</body>
</html>