<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\static\css\reset.css">
    <link rel="stylesheet" href="\static\css\header-styles.css">
    <link rel="stylesheet" href="\static\css\destinations-styles.css">
    <link rel="stylesheet" href="\static\css\footer-styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>Sunrise Travel</title>
</head>
<body>
    
    <header>
        <nav>
            <div class="logo-container">
                <img alt="logo" src="\static\images\logo.jpg">

                <div class="navbar">
                    <ul class="contacts">
                        <li>
                            <i class="fa-solid fa-phone-volume"></i>
                            <p>+359 888 232 555</p>
                        </li>
                        <li>
                            <i class="fa-solid fa-envelope-open"></i>
                            <p>sunrise_travel@gmail.com</p>
                        </li>
                        <li>
                            <i class="fa-brands fa-facebook"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-tiktok"></i>
                        </li>
                    </ul>
    
                    <ul class="menu">
                        <li><a href="index.html">Начало</a></li>
                        <li id="destinations">
                            <a href="">Дестинации</a>
                            <div class="hidden hidden-destinations">
                                <div class="hidden-section">
                                    <h4>Европа</h4>

                                    <ul>
                                        <li><a href="">Австрия</a></li>
                                        <li><a href="">Албания</a></li>
                                        <li><a href="">Англия</a></li>
                                        <li><a href="">Белгия</a></li>
                                        <li><a href="">Босна и Херцеговина</a></li>
                                        <li><a href="">Великобритания</a></li>
                                        <li><a href="">Германия</a></li>
                                        <li><a href="">Гърция</a></li>
                                        <li><a href="">Дания</a></li>
                                        <li><a href="">Ирландия</a></li>
                                        <li><a href="">Исландия</a></li>
                                        <li><a href="">Испания</a></li>
                                        <li><a href="">Италия</a></li>
                                        <li><a href="">Кипър</a></li>
                                        <li><a href="">Македония</a></li>
                                        <li><a href="">Норвегия</a></li>
                                        <li><a href="">Румъния</a></li>
                                        <li><a href="">Словакия</a></li>
                                        <li><a href="">Словения</a></li>
                                        <li><a href="">Сърбия</a></li>
                                        <li><a href="">Турция</a></li>
                                        <li><a href="">Унгария</a></li>
                                        <li><a href="">Франция</a></li>
                                        <li><a href="">Холандия-Нидерландия</a></li>
                                        <li><a href="">Хърватия</a></li>
                                        <li><a href="">Черна Гора</a></li>
                                        <li><a href="">Чехия</a></li>
                                        <li><a href="">Швейцария</a></li>
                                    </ul>
                                </div>

                                <div class="hidden-section">
                                    <h4>Азия</h4>

                                    <ul>
                                        <li><a href="">Виетнам</a></li>
                                        <li><a href="">Дубай-ОАЕ</a></li>
                                        <li><a href="">Индия</a></li>
                                        <li><a href="">Индонезия</a></li>
                                        <li><a href="">Иран</a></li>
                                        <li><a href="">Китай</a></li>
                                        <li><a href="">Малдиви</a></li>
                                        <li><a href="">Тайланд</a></li>
                                        <li><a href="">Шри Ланка</a></li>
                                        <li><a href="">Япония</a></li>
                                    </ul>
                                </div>

                                <div class="hidden-section">
                                    <h4>Африка</h4>

                                    <ul>
                                        <li><a href="">Египет</a></li>
                                        <li><a href="">Мавриций</a></li>
                                        <li><a href="">Сейшели</a></li>
                                        <li><a href="">Тунис</a></li>
                                        <li><a href="">ЮАР / Южна Африка</a></li>
                                    </ul>
                                </div>

                                <div class="hidden-section">
                                    <h4>Северна Америка</h4>

                                    <ul>
                                        <li><a href="">Доминикана</a></li>
                                        <li><a href="">Канада</a></li>
                                        <li><a href="">САЩ</a></li>
                                    </ul>
                                </div>

                                <div class="hidden-section">
                                    <h4>Южна Америка</h4>

                                    <ul>
                                        <li><a href="">Аржентина</a></li>
                                        <li><a href="">Бразилия</a></li>
                                        <li><a href="">Еквадор и Галапагоски острови</a></li>
                                        <li><a href="">Колумбия</a></li>
                                        <li><a href="">Куба</a></li>
                                    </ul>
                                </div>

                                <div class="hidden-section">
                                    <h4>Австралия</h4>

                                    <ul>
                                        <li><a href="">Австралия</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li id="excursions">
                            <a href="">Екскурзии</a>
                            <div class="hidden hidden-excursions">
                                <div class="hidden-section">
                                    <h4>Европа</h4>

                                    <ul>
                                        <li><a href="">Австрия</a></li>
                                        <li><a href="">Албания</a></li>
                                        <li><a href="">Англия</a></li>
                                        <li><a href="">Белгия</a></li>
                                        <li><a href="">Босна и Херцеговина</a></li>
                                        <li><a href="">Великобритания</a></li>
                                        <li><a href="">Германия</a></li>
                                        <li><a href="">Гърция</a></li>
                                        <li><a href="">Дания</a></li>
                                        <li><a href="">Ирландия</a></li>
                                        <li><a href="">Исландия</a></li>
                                        <li><a href="">Испания</a></li>
                                        <li><a href="">Италия</a></li>
                                        <li><a href="">Кипър</a></li>
                                        <li><a href="">Македония</a></li>
                                        <li><a href="">Норвегия</a></li>
                                        <li><a href="">Румъния</a></li>
                                        <li><a href="">Словакия</a></li>
                                        <li><a href="">Словения</a></li>
                                        <li><a href="">Сърбия</a></li>
                                        <li><a href="">Турция</a></li>
                                        <li><a href="">Унгария</a></li>
                                        <li><a href="">Франция</a></li>
                                        <li><a href="">Холандия-Нидерландия</a></li>
                                        <li><a href="">Хърватия</a></li>
                                        <li><a href="">Черна Гора</a></li>
                                        <li><a href="">Чехия</a></li>
                                        <li><a href="">Швейцария</a></li>
                                    </ul>
                                </div>

                                <div class="hidden-section">
                                    <h4>Азия</h4>

                                    <ul>
                                        <li><a href="">Виетнам</a></li>
                                        <li><a href="">Дубай-ОАЕ</a></li>
                                        <li><a href="">Индия</a></li>
                                        <li><a href="">Индонезия</a></li>
                                        <li><a href="">Иран</a></li>
                                        <li><a href="">Китай</a></li>
                                        <li><a href="">Малдиви</a></li>
                                        <li><a href="">Тайланд</a></li>
                                        <li><a href="">Шри Ланка</a></li>
                                        <li><a href="">Япония</a></li>
                                    </ul>
                                </div>

                                <div class="hidden-section">
                                    <h4>Африка</h4>

                                    <ul>
                                        <li><a href="">Египет</a></li>
                                        <li><a href="">Мавриций</a></li>
                                        <li><a href="">Сейшели</a></li>
                                        <li><a href="">Тунис</a></li>
                                        <li><a href="">ЮАР / Южна Африка</a></li>
                                    </ul>
                                </div>

                                <div class="hidden-section">
                                    <h4>Северна Америка</h4>

                                    <ul>
                                        <li><a href="">Доминикана</a></li>
                                        <li><a href="">Канада</a></li>
                                        <li><a href="">САЩ</a></li>
                                    </ul>
                                </div>

                                <div class="hidden-section">
                                    <h4>Южна Америка</h4>

                                    <ul>
                                        <li><a href="">Аржентина</a></li>
                                        <li><a href="">Бразилия</a></li>
                                        <li><a href="">Еквадор и Галапагоски острови</a></li>
                                        <li><a href="">Колумбия</a></li>
                                        <li><a href="">Куба</a></li>
                                    </ul>
                                </div>

                                <div class="hidden-section">
                                    <h4>Австралия</h4>

                                    <ul>
                                        <li><a href="">Австралия</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li><a href="about-us.html">За нас</a></li>
                        <li><a href="contacts.html">Контакти</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                    </ul>
                </div>
            </div>  
        </nav>
    </header>

    <main>
        <h1>Австрия</h1>

        <article>
            <div class="article-header">
                <div class="image-container">
                    <img src="\static\images\denmark.jpg">
                </div>
    
                <div class="info-container">
                    <p><span>Дания</span> е най-малката страна в Скандинавия, която сърдечно отваря вратите към своя вълшебен свят и неслучайно 
                        привлича толкова много туристи. Страна, която ще бъде интересна както за възрастни, така и за деца. Страна, 
                        която можете да посетите както през зимата, така и през лятото. Страна, която перфектно съчетава исторически 
                        забележителности и красотата на непокътнатата природа. Дания абсолютно заслужено е наричана перлата на 
                        Скандинавия. В крайна сметка само тук можете да живеете в истински замък и след това да се насладите на 
                        релаксация в спа хотел; „развеселете се“ в увеселителен парк и след това отидете на морски круиз; 
                        полюбувайте се на живописните плажове, а след това отидете на невероятна гастрономическа обиколка. Тази 
                        страна има всичко, за да ви накара да се влюбите в нея и да искате да се връщате тук отново и отново!</p>

                    <ul>
                        <li><span>Столица:</span> Копенхаген</li>
                        <li><span>Валута:</span> Евро</li>
                        <li><span>Часова разлика:</span> един час назад</li>
                    </ul>
                </div>
            </div>

            <div class="article-main">
                <div class="article-main-section">
                    <h4>Визов режим</h4>

                    <p>Като част от Шенгенското пространство Дания прилага общите правила по отношение на движението на хора. 
                        Изискването към българските граждани, като граждани на ЕС, при влизане и пребиваване в Дания е да 
                        притежават валиден документ за пътуване (лична карта или паспорт) за срока на престоя си в страната.
                        Българските граждани могат да влизат и пребивават свободно в Дания за период от три месеца. 
                        Ако целта на престоя им е намиране на работа и по-трайно установяване, те могат да останат в страната 
                        до шест месеца, доколкото документално може да бъде доказано, че са в процес на търсене на работа и 
                        съществува възможност за тяхното наемане. Сертификат за регистрация за граждани на ЕС/ЕИО се изисква 
                        при престой в Дания за повече от три (или шест) месеца. Повече информация може да намерите ТУК.
                        Включените в състава на Кралство Дания Гренландия и Фарьорските острови не са част от ЕС и Шенгенското 
                        пространство. Гражданите на ЕС, в т.ч. и българските граждани, не се нуждаят от виза за краткосрочни 
                        посещения до 90 дни в рамките на 180 дни (правото на краткосрочен престой не включва автоматично и 
                        право на участие в специални експедиции в определени части на Гренландия). Молби за продължително 
                        пребиваване в Гренландия и Фарьорските острови се разглеждат от Датската агенция за международно 
                        наемане на работници и интеграция: (https://www.nyidanmark.dk/en-us/contact/contact-dalrir/contact-dalrir.htm).</p> 
                </div>

                <div class="article-main-section">
                    <h4>Изисквания за пътуващите деца до 18 години (с придружител и самостоятелно):</h4>

                    <p>При преминаване на границите на Дания от деца (малолетни и непълнолетни) – граждани на страни от ЕС, 
                        които пътуват самостоятелно или придружавани от възрастен, не се изискват специални документи, 
                        декларации и пр., освен валиден паспорт/лична карта.</p>
                </div>

                <div class="article-main-section">
                    <h4>Посолство на Република България в Дания</h4>

                    <ul class="info">
                        <li><span>Адрес:</span> Gamlehave Alle 7, 2920 Charlottenlund, Copenhagen, Kingdom of Denmark</li>
                        <li><span>Телефон:</span> +45 39 64 24 84; +45 39 63 38 72</li>
                        <li><span>Факс:</span> +45 39 63 49 23</li>
                        <li><span>Дежурен телефон при спешни случаи в извънработно време:</span> +45 41 276251</li>
                        <li><span>Ел. адрес:</span> Embassy.Copenhagen@mfa.bg</li>
                        <li><span>Интернет:</span> www.mfa.bg/embassies/denmark</li>
                    </ul>
                </div>

                <div class="article-main-section">
                    <h4>Подходящо време за посещение на Дания</h4>

                    <p>Кога е най-добре да отидете в Дания е един от най-популярните въпроси сред туристите, но отговорът 
                        зависи от целта на пътуването. Ясно е, че ако мечтаете за плажна почивка, трябва да изберете летните 
                        месеци. Най-общо казано, всеки сезон в Дания има своите характеристики и предимства:</p>

                    <ul>
                        <li>Зимата е времето за коледна приказка. Ски центрове, зимен риболов, ниски цени за почивка – 
                            всичко е добро, с изключение на времето. Температурата на въздуха е между -5°C и +5°C, времето 
                            е предимно облачно и дъждовно, сняг почти липсва.</li>
                        <li>Пролетта предоставя по-удобни условия за разходка, особено ако планирате пътуване за втората 
                            половина на април. По време на периода на цъфтеж парковете и градините на Дания стават най-посещаваните 
                            места. Не по-малко туристи могат да бъдат намерени в замъци и музеи.</li>
                        <li>Лятото е най-натовареното време, когато се увеличава не само броят на туристите, но и цената на 
                            почивката. Въздухът се затопля до +20°C, което ви позволява да ходите много без риск от слънчев 
                            удар. Лятото е време за известния рок фестивал в Роскилде и джаз фестивала в Копенхаген.</li>
                        <li>Есента също е подходящо време от годината за пътуване до Дания, особено септември и първата половина 
                            на октомври. Дневните температури падат бавно, продължителните дъждове са все още далеч, което означава, 
                            че можете да ходите много, да карате колело и да изследвате най-интересните места в различни части на 
                            страната.</li>
                    </ul>

                    <p>По този начин най-удобният период за посещение на Дания се счита за период от края на април до края на 
                        септември. Потокът от туристи обаче не спира през цялата година, защото Дания е красива при всяко време.</p>
                </div>

                <div class="article-main-section">
                    <h4>Добре е да знаете</h4>

                    <p>Дания е една от страните, в които националната култура и традиции са особено ценени. Местните жители 
                        обичат страната си, познават нейната история и се гордеят с миналото си. Затова основният съвет към 
                        туристите е да не говорят за Дания по негативен начин. Туристите трябва да вземат предвид и други 
                        характеристики на местните жители:</p>

                    <ul>
                        <li>Когато поздравявате и се сбогувате с местните жители, трябва да се ръкувате, това важи не 
                            само за възрастни, но и за деца.</li>
                        <li>Повечето датчани са мили и състрадателни, така че в трудни моменти можете да разчитате на помощта 
                            на непознати.</li>
                        <li>Датчаните са любопитни хора, така че бъдете готови да чуете много въпроси по време на разговора си, 
                            но местните не обичат да говорят за себе си.</li>
                        <li>Ако не искате да обидите датчанин, не закъснявайте за среща и не отказвайте лакомства, тук това не 
                            е прието.</li>
                        <li>Сарказмът е неизменна част от комуникацията с местните жители, не трябва да се обиждате от него, 
                            но можете да се пошегувате в отговор.</li>
                    </ul>
                </div>
            </div>
        </article>
    </main>

    <footer>
        <div class="address">
            <h3>Адрес</h3>
            <ul>
                <li>п.к. 4600, град Велинград,</li> 
                <li>бул.Съединение №83</li>
            </ul>
        </div>

        <div class="contacts">
            <h3>Контакти</h3>
            <ul>
                <li>+359 888 232 555</li> 
                <li>sunrise_travel@gmail.com</li> 
            </ul>
        </div>

        <div class="resources">
            <h3>Полезно</h3>
            <ul>
                <li><a href="about-us.html">За нас</a></li>
                <li><a href="privacy-policy.html">Политика за поверителност</a></li>
                <li><a href="general-conditions.html">Общи условия</a></li>
            </ul>
        </div>

        <div class="mobile-apps">
            <h3>Споделете</h3>
            <ul>
                <li><a href=""><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href=""><i class="fa-brands fa-tiktok"></i></a></li>
            </ul>                
        </div>

        <p>Този сайт, е с информационна и рекламна цел и е възможно поради динамиката на ценообразуване да има промяна 
            в офертите преди датата на пътуване. Информация съгласно чл. 80 от Закона за Туризма може да получите в 
            нашите офиси или оторизираните агенти.</p>

        <div class="copyright">
            <p>&copy 2025 Sunrise Travel Team. Всички права запазени.</p>

            <p>Програмиране: инж. Савина Дженимова</p>
        </div>
    </footer>

    <script src="\static\js\carousel.js"></script>
    <script src="\static\js\animation.js"></script>
    <script src="\static\js\show-menu.js"></script>
</body>
</html>