<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/destinations-styles.css">
    <title>Sunrise Travel</title>
</head>

<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <h1 th:text="${destination.getDestination().getName()}">Австрия</h1>

        <article>
            <div class="article-header">
                <div class="image-container">
                    <img th:src="${destination.getDestination().getImageUrl()}">
                </div>
    
                <div class="info-container">
                    <p th:text="${destination.getDestination().getDescription()}">Дания е най-малката страна в Скандинавия, която сърдечно отваря вратите към своя вълшебен свят и неслучайно
                        привлича толкова много туристи. Страна, която ще бъде интересна както за възрастни, така и за деца. Страна, 
                        която можете да посетите както през зимата, така и през лятото. Страна, която перфектно съчетава исторически 
                        забележителности и красотата на непокътнатата природа. Дания абсолютно заслужено е наричана перлата на 
                        Скандинавия. В крайна сметка само тук можете да живеете в истински замък и след това да се насладите на 
                        релаксация в спа хотел; „развеселете се“ в увеселителен парк и след това отидете на морски круиз; 
                        полюбувайте се на живописните плажове, а след това отидете на невероятна гастрономическа обиколка. Тази 
                        страна има всичко, за да ви накара да се влюбите в нея и да искате да се връщате тук отново и отново!</p>

                    <ul>
                        <li>Столица: <span th:text="${destination.getCountry().getCapital()}">Копенхаген</span></li>
                        <li>Валута: <span th:text="${destination.getCountry().getCurrency()}">Евро</span></li>
                        <li>Часова разлика: <span th:text="${destination.getCountry().getTimeDifference()}">един час назад</span></li>
                    </ul>
                </div>
            </div>

            <div class="article-main">
                <div class="article-main-section">
                    <h4>Визов режим</h4>

                    <p th:text="${destination.getDestination().getVisaRequirements()}">Като част от Шенгенското пространство Дания прилага общите правила по отношение на движението на хора.
                        Изискването към българските граждани, като граждани на ЕС, при влизане и пребиваване в Дания е да 
                        притежават валиден документ за пътуване (лична карта или паспорт) за срока на престоя си в страната.
                        Българските граждани могат да влизат и пребивават свободно в Дания за период от три месеца. 
                        Ако целта на престоя им е намиране на работа и по-трайно установяване, те могат да останат в страната 
                        до шест месеца, доколкото документално може да бъде доказано, че са в процес на търсене на работа и 
                        съществува възможност за тяхното наемане. Сертификат за регистрация за граждани на ЕС/ЕИО се изисква 
                        при престой в Дания за повече от три (или шест) месеца. Повече информация може да намерите ТУК.
                        Включените в състава на Кралство Дания Гренландия и Фарьорските острови не са част от ЕС и Шенгенското 
                        пространство. Гражданите на ЕС, в т.ч. и българските граждани, не се нуждаят от виза за краткосрочни 
                        посещения до 90 дни в рамките на 180 дни (правото на краткосрочен престой не включва автоматично и 
                        право на участие в специални експедиции в определени части на Гренландия). Молби за продължително 
                        пребиваване в Гренландия и Фарьорските острови се разглеждат от Датската агенция за международно 
                        наемане на работници и интеграция: (https://www.nyidanmark.dk/en-us/contact/contact-dalrir/contact-dalrir.htm).</p> 
                </div>

                <div class="article-main-section">
                    <h4 th:text="'Посолство на Република България в ' + ${destination.getDestination().getName()}">Заглавие</h4>

                    <ul class="info">
                        <li><span>Адрес:</span> <span th:text="${destination.getEmbassy().getAddress()}"></span></li>
                        <li><span>Телефон:</span> <span th:text="${destination.getEmbassy().getPhoneNumber()}"></span></li>
                        <li><span>Факс:</span> <span th:text="${destination.getEmbassy().getFax()}"></span></li>
                        <li><span>Дежурен телефон при спешни случаи в извънработно време:</span> <span th:text="${destination.getEmbassy().getDutyPhone()}"></span></li>
                        <li><span>Ел. адрес:</span> <span th:text="${destination.getEmbassy().getEmail()}"></span></li>
                        <li><span>Интернет страница:</span> <span th:text="${destination.getEmbassy().getWebpage()}"></span></li>
                    </ul>
                </div>

                <div class="article-main-section">
                    <h4>Подходящо време за посещение</h4>

                    <p th:text="${destination.getDestination().getTimeToVisit()}">Кога е най-добре да отидете в Дания е един от най-популярните въпроси сред туристите, но отговорът
                        зависи от целта на пътуването. Ясно е, че ако мечтаете за плажна почивка, трябва да изберете летните 
                        месеци. Най-общо казано, всеки сезон в Дания има своите характеристики и предимства:</p>
                </div>

                <div class="article-main-section">
                    <h4>Добре е да знаете</h4>

                    <p th:text="${destination.getDestination().getGoodToKnow()}">Дания е една от страните, в които националната култура и традиции са особено ценени. Местните жители
                        обичат страната си, познават нейната история и се гордеят с миналото си. Затова основният съвет към 
                        туристите е да не говорят за Дания по негативен начин. Туристите трябва да вземат предвид и други 
                        характеристики на местните жители:</p>
                </div>
            </div>
        </article>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

    <script src="\js\show-menu.js"></script>
</body>
</html>