<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/excursions-styles.css">
    <title>Екскурзии</title>
</head>
<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <h1 th:if="${destinationName != null}" th:text="'Екскурзии до ' + ${destinationName}">Екскурзии до Австрия</h1>
        <h1 th:unless="${destinationName != null}" th:text="'Всички екскурзии'">Всички екскурзии</h1>

        <p th:if="${failureMessage}" th:text="${failureMessage}"></p>

        <div class="excursions">
            <a class="excursion-article"
               th:each="excursion : ${excursions}"
               th:href="@{/excursions/excursion-details/}">
                <div class="image-container">
                    <img alt="article image" th:src="${excursion.getImageUrl()}">
                </div>

                <div class="article-content">
                    <h3 th:text="${excursion.getName()}">Име на екскурзията</h3>

                    <ul>
                        <li>Дата: <span th:text="${excursion.getDate()}">22.10.2024</span></li>
                        <li>Продължителност: <span th:text="${excursion.getEndurance()} + ' дни'"></span></li>
                        <li>Дестинация: <span th:text="${excursion.getDestination()}"></span></li>
                        <li>Транспорт: <span th:text="${excursion.getTransport()}"></span></li>
                    </ul>

                    <p th:text="'от ' + ${excursion.getPrice()} + ' лв.'">от 199 лв.</p>
                </div>
            </a>
        </div>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

    <script src="\js\show-menu.js"></script>
    <script src="\js\show-menu-profile.js"></script>

</body>
</html>