<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/excursion-details-styles.css">
    <link rel="stylesheet" href="/css/modal-window-styles.css">
    <title>Sunrise Travel</title>
</head>

<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <h1 th:text="${excursion.getName()}">Австрия</h1>

        <div th:if="${successMessage}" class="alert alert-success" role="alert">
            <p class="success" th:text="${successMessage}"></p>
        </div>

        <article>
            <div class="article-header">
                <div class="carousel">
                    <div class="carousel-container">
                        <div class="carousel-item" th:each="imageUrl : ${excursion.getImages()}">
                            <img th:src="${imageUrl}" th:alt="${excursion.getName()}">
                        </div>
                    </div>
                    <button class="prev">❮</button>
                    <button class="next">❯</button>
                </div>

                <div class="info-container">
                    <h3>Обща информация за екскурзията</h3>

                    <ul>
                        <li>Продължителност: <span th:text="${excursion.getEndurance()} + ' дни'"></span></li>
                        <li>Транспорт: <span th:text="${excursion.getTransport()}"></span></li>
                        <li>Дестинация: <span th:text="${excursion.getDestination()}"></span></li>
                        <li>Ръководител: <span th:text="${excursion.getGuideName()}"></span></li>
                        <li>Цена: <span th:text="${excursion.getPrice()} + ' лв.'"></span></li>
                        <li>Направени резервации до момента: <span th:text="${excursion.getReservations()}"></span></li>
                    </ul>

                    <form sec:authorize="hasRole('MANAGER')"
                          th:method="DELETE"
                          th:action="@{/excursions/delete-excursion/{id}(id=${excursion.getId()})}"
                          class="delete-excursion-form">
                        <button type="submit">Изтрий екскурзията</button>
                    </form>

                    <!-- Бутон за отваряне на модалния прозорец -->
                    <button sec:authorize="!isAuthenticated()" id="openModal" class="custom-btn">Бързо запитване</button>

                    <!-- Модален прозорец -->
                    <div id="quickInquiryModal" class="modal">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title">Бързо запитване за екскурзия "<span th:text="${excursion.getName()}"></span>"</h2>
                                <button id="closeModal" class="close-btn">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form id="quickInquiryForm"
                                      th:method="POST"
                                      th:action="@{'/excursions/excursion-details/' + ${excursion.getName()} + '/send-inquiry'}"
                                      th:object="${addInquiryDTO}">

                                    <div class="field">
                                        <input th:field="*{name}"
                                               th:errorclass="is-invalid"
                                               type="text" id="name" name="name" placeholder="Име" required>
                                        <label th:for="name">Име</label>
                                        <small th:if="${#fields.hasErrors('name')}"
                                               th:errors="*{name}"
                                               class="text-danger">Dish name error message</small>
                                    </div>

                                    <div class="field">
                                        <input th:field="*{email}"
                                               th:errorclass="is-invalid"
                                               type="email" id="email" name="email" placeholder="Имейл" required>
                                        <label th:for="email">Имейл</label>
                                        <small th:if="${#fields.hasErrors('email')}"
                                               th:errors="*{email}"
                                               class="text-danger">Dish name error message</small>
                                    </div>

                                    <div class="field">
                                        <input th:field="*{phone}"
                                               th:errorclass="is-invalid"
                                               type="text" id="phone" name="phone" placeholder="Телефонен номер" required>
                                        <label th:for="phone">Телефонен номер</label>
                                        <small th:if="${#fields.hasErrors('phone')}"
                                               th:errors="*{phone}"
                                               class="text-danger">Dish name error message</small>
                                    </div>

                                    <div class="field" id="message-container">
                                        <label th:for="message">Вашето запитване</label>
                                        <textarea th:field="*{message}"
                                                  th:errorclass="is-invalid"
                                                  id="message" name="message" rows="4" required></textarea>
                                        <small th:if="${#fields.hasErrors('message')}"
                                               th:errors="*{message}"
                                               class="text-danger">Dish name error message</small>
                                    </div>

                                    <input type="hidden" name="excursionName" th:value="${excursion.getName()}">
                                    <button type="submit" class="custom-btn submit-btn">Изпрати запитване</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="article-main">
                <h3>Обявени дати за екскурзията</h3>

                <table>
                    <tr>
                        <th>Дата</th>
                        <th sec:authorize="!isAuthenticated()">Резервирай</th>
                    </tr>
                    <tr th:each="date: ${dates}">
                        <td th:text="${#temporals.format(date, 'dd.MM.yyyy г.')}"></td>
                        <td sec:authorize="!isAuthenticated()">
                            <a th:href="@{/excursions/excursion-details/{excursionName}/reserve/{date}
                               (excursionName=${excursion.name}, date=${date})}">Резервирай</a>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="article-main">
                <h3>Програма за екскурзията по дни</h3>

                <ul>
                    <li th:each="day : ${days}">
                        <h4>Ден <span th:text="${day.getDayNumber()}"></span></h4>
                        <p th:text="${day.getDescription()}">Описание</p>
                    </li>
                </ul>
            </div>
        </article>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

    <script src="\js\carousel.js"></script>
    <script src="\js\animation.js"></script>
    <script src="\js\show-menu.js"></script>
    <script src="\js\show-menu-profile.js"></script>
    <script src="\js\show-menu-team.js"></script>
    <script src="\js\modal-window.js"></script>

</body>
</html>