<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/excursions-styles.css">
    <title>Екскурзии</title>
</head>
<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <h1 th:if="${destinationName == null and guideName == null}" th:text="'Всички екскурзии'">Всички екскурзии</h1>
        <h1 th:if="${destinationName != null}" th:text="'Екскурзии до ' + ${destinationName}">Екскурзии до Австрия</h1>
        <h1 th:if="${guideName != null}" th:text="'Екскурзиите на ' + ${guideName}">Екскурзиите на ...</h1>

        <p th:if="${warningMessage}" th:text="${warningMessage}"></p>

        <div th:if="${successMessage}" class="alert alert-success" role="alert">
            <p class="success" th:text="${successMessage}"></p>
        </div>

        <div th:if="${failureMessage}" class="alert alert-failure" role="alert">
            <p th:text="${failureMessage}"></p>
        </div>

        <div class="excursions">
            <a class="excursion-article"
               th:each="excursion : ${excursions}"
               th:href="@{/excursions/excursion-details/{excursionName}(excursionName=${excursion.name})}">
                <div class="image-container">
                    <img alt="article image" th:src="${excursion.getImageUrl()}">
                </div>

                <div class="article-content">
                    <h3 th:text="${excursion.getName()}">Име на екскурзията</h3>

                    <ul>
                        <li>Продължителност: <span th:text="${excursion.getEndurance()} + ' дни'"></span></li>
                        <li>Дестинация: <span th:text="${excursion.getDestination()}"></span></li>
                        <li>Транспорт: <span th:text="${excursion.getTransport()}"></span></li>
                    </ul>

                    <p th:text="'от ' + ${excursion.getPrice()} + ' лв.'">от 199 лв.</p>
                </div>
            </a>
        </div>

        <div class="pagination" th:if="${totalPages > 1}">
            <a th:if="${currentPage > 0}"
               th:href="@{/excursions(page=${currentPage - 1}, size=${size})}">❮</a>

            <p th:if="${currentPage != null and totalPages != null}">Страница
                <span th:text="${currentPage + 1}"></span> от <span th:text="${totalPages}"></span>
            </p>

            <a th:if="${currentPage + 1 < totalPages}"
               th:href="@{/excursions(page=${currentPage + 1}, size=${size})}">❯</a>
        </div>

    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

    <script src="\js\show-menu.js"></script>
    <script src="\js\show-menu-profile.js"></script>
    <script src="\js\show-menu-team.js"></script>

</body>
</html>