<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\static\css\reset.css">
    <link rel="stylesheet" href="\static\css\header-styles.css">
    <link rel="stylesheet" href="\static\css\faq-styles.css">
    <link rel="stylesheet" href="\static\css\footer-styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>Често задавани въпроси</title>
</head>
<body>
    
    <header>
        <nav>
            <div class="logo-container">
                <img alt="logo" src="\static\images\logo.jpg">

                <div class="navbar">
                    <ul class="contacts">
                        <li>
                            <i class="fa-solid fa-phone-volume"></i>
                            <p>+359 888 232 555</p>
                        </li>
                        <li>
                            <i class="fa-solid fa-envelope-open"></i>
                            <p>sunrise_travel@gmail.com</p>
                        </li>
                        <li>
                            <i class="fa-brands fa-facebook"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-tiktok"></i>
                        </li>
                    </ul>
    
                    <ul class="menu">
                        <li><a href="index.html">Начало</a></li>
                        <li><a href="">Дестинации</a></li>
                        <li><a href="">Екскурзии</a></li>
                        <li><a href="about-us.html">За нас</a></li>
                        <li><a href="contacts.html">Контакти</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                    </ul>
                </div>
            </div>  
        </nav>
    </header>

    <main>
        <h1>Често задавани въпроси (FAQ)</h1>

        <article>
            <ol>
                <li>
                    <h4>Как да направя резервация за екскурзия или почивка?</h4>
                    <p>Можете да направите резервация директно през нашия уебсайт, като попълните формуляра за резервации. 
                        Освен това, можете да се свържете с нас на посочените телефони или да посетите нашия офис, за да 
                        получите съдействие от нашите консултанти.</p>
                </li>

                <li>
                    <h4>Какви документи са ми необходими за международно пътуване?</h4>
                    <p>За международно пътуване е задължително да имате валиден паспорт, а за някои дестинации може да е 
                        необходима и виза. Нашият екип ще ви информира за конкретните изисквания, свързани с вашата дестинация.</p>
                </li>

                <li>
                    <h4>Какви начини за плащане приемате?</h4>
                    <p>Приемаме плащания с кредитни и дебитни карти, банков превод и плащане в брой в нашия офис. Ако изберете 
                        онлайн резервация, ще можете да използвате сигурна система за плащане.</p>
                </li>

                <li>
                    <h4>Какво се случва, ако трябва да отменя или променя резервацията си?</h4>
                    <p>При отмяна или промяна на резервацията, моля, свържете се с нас възможно най-скоро. Условията за 
                        анулиране или промяна зависят от политиките на доставчиците (хотели, авиокомпании и т.н.) и ще 
                        ви предоставим цялата необходима информация.</p>
                </li>

                <li>
                    <h4>Предлагате ли застраховка за пътуването?</h4>
                    <p>Да, предлагаме туристически застраховки, които покриват различни рискове, включително медицински разходи, 
                        анулиране на пътуване и изгубен багаж. Нашият екип може да ви помогне да изберете най-подходящата 
                        застраховка.</p>
                </li>

                <li>
                    <h4>Мога ли да персонализирам туристическия пакет според предпочитанията си?</h4>
                    <p>Разбира се! Ние предлагаме персонализирани туристически пакети, които могат да бъдат адаптирани според 
                        вашите нужди, предпочитания и бюджет. Заповядайте в нашите офиси, за да обсъдим вашите идеи и да създадем 
                        уникално пътуване за вас.</p>

                    <p class="warning">Забележка: Подобен тип екскурзии се уреждат единствено на място в офис!</p>
                </li>

                <li>
                    <h4>Има ли отстъпки за групови пътувания или семейни ваканции?</h4>
                    <p>Да, предлагаме специални отстъпки за групи, семейства и ранни резервации. Свържете се с нас, за да 
                        получите подробна информация за актуалните оферти и условия.</p>
                </li>

                <li>
                    <h4>Какво включва цената на туристическия пакет?</h4>
                    <p>Цената на пакета обикновено включва настаняване, транспорт, някои хранения и организирани екскурзии 
                        (ако са част от програмата). Допълнителни разходи, като лични харчове, входни такси за 
                        забележителности и туристическа застраховка, може да не са включени. Подробна информация ще намерите 
                        в описанието на пакета.</p>
                </li>

                <li>
                    <h4>Как мога да получа информация за предстоящи оферти и промоции?</h4>
                    <p>Можете да се абонирате за нашия бюлетин, за да получавате информация за най-новите оферти и промоции 
                        директно във вашия имейл. Освен това, следете нашия уебсайт и профилите ни в социалните мрежи за 
                        актуални новини и кампании.</p>
                </li>
            </ol>
        </article>
    </main>

    <footer>
        <div class="address">
            <h3>Адрес</h3>
            <ul>
                <li>п.к. 4600, град Велинград,</li> 
                <li>бул.Съединение №83</li>
            </ul>
        </div>

        <div class="contacts">
            <h3>Контакти</h3>
            <ul>
                <li>+359 888 232 555</li> 
                <li>sunrise_travel@gmail.com</li> 
            </ul>
        </div>

        <div class="resources">
            <h3>Полезно</h3>
            <ul>
                <li><a href="about-us.html">За нас</a></li>
                <li><a href="privacy-policy.html">Политика за поверителност</a></li>
                <li><a href="general-conditions.html">Общи условия</a></li>
            </ul>
        </div>

        <div class="mobile-apps">
            <h3>Споделете</h3>
            <ul>
                <li><a href=""><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href=""><i class="fa-brands fa-tiktok"></i></a></li>
            </ul>                
        </div>

        <p>Този сайт, е с информационна и рекламна цел и е възможно поради динамиката на ценообразуване да има промяна 
            в офертите преди датата на пътуване. Информация съгласно чл. 80 от Закона за Туризма може да получите в 
            нашите офиси или оторизираните агенти.</p>

        <div class="copyright">
            <p>&copy 2025 Sunrise Travel Team. Всички права запазени.</p>

            <p>Програмиране: инж. Савина Дженимова</p>
        </div>
    </footer>

</body>
</html>