<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/forgot-password-styles.css">
    <title>Забравена парола</title>
</head>
<body>

<header th:replace="~{fragments/commons::header}"></header>

    <main>
        <h1>Забравена парола</h1>

        <div th:if="${failureMessage}" class="alert alert-failure" role="alert">
            <p th:text="${failureMessage}"></p>
        </div>

        <form class="forgot-password-form"
              th:method="POST"
              th:action="@{/employees/login/forgot-password}">

            <label for="emailOrPhoneNumber">Въведете имейл или телефонен номер, с който сте регистрирани в системата</label>
            <input type="text" id="emailOrPhoneNumber" name="emailOrPhoneNumber" placeholder="Имейл или телефонен номер" required>
            <button type="submit">Изпрати</button>
        </form>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

    <script src="\js\show-menu.js"></script>
    <script src="\js\show-forgot-password-form.js"></script>

</body>
</html>