<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/general-conditions-styles.css">
    <title>Общи условия</title>
</head>

<body>
    
    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <h1>Общи условия</h1>

        <article>
            <ol>
                <li>
                    <h4>Въведение</h4>
                    
                    <ul>
                        <li>Тези общи условия са създадени с цел да гарантират коректното използване на услугите, предоставяни 
                            от туристическа агенция "Sunrise Travel".</li>
                        <li>С достъпа до нашия уебсайт или използването на предоставяните услуги вие автоматично приемате 
                            тези условия.</li>
                        <li>Условията важат за всички продукти и услуги, предлагани от агенцията, включително резервации, 
                            консултации и други допълнителни услуги.</li>
                    </ul>
                </li>

                <li>
                    <h4>Условия за резервация</h4>
                    
                    <ul>
                        <li>За да направите резервация, е необходимо да предоставите следните данни: име и фамилия, телефон 
                            за контакт, имейл адрес, и, ако е необходимо, информация за пътуващите лица.</li>
                        <li>Авансово плащане може да се изисква за потвърждение на резервацията. Сумата ще бъде уточнена в 
                            зависимост от избрания пакет.</li>
                        <li>При резервация в последния момент (до 48 часа преди пътуването), клиентът носи отговорност за 
                            своевременното предоставяне на документите.</li>
                    </ul>
                </li>

                <li>
                    <h4>Начини на плащане</h4>

                    <ul>
                        <li>
                            <p>Приемаме плащания чрез:</p>

                            <ul>
                                <li>Кредитни/дебитни карти: Онлайн чрез защитена платежна платформа.</li>
                                <li>Банков превод: Всички необходими данни за превода ще ви бъдат изпратени по имейл.</li>
                                <li>Плащане в брой: Достъпно в нашия офис.</li>
                            </ul>
                        </li>
                            
                        <li>Моля, обърнете внимание, че плащането на цялата сума трябва да бъде завършено до 10 дни преди 
                            началото на пътуването, освен ако не е посочено друго.</li>
                    </ul>
                </li>

                <li>
                    <h4>Анулиране и промени в резервацията</h4>

                    <ul>
                        <li>Политика за анулиране на резервации (срокове, такси, възстановяване на суми).</li>
                        <li>Условия за промени в резервацията (смяна на дати, дестинации или участници).</li>
                        <li>Правила при форсмажорни обстоятелства (непредвидени събития като природни бедствия, пандемии и т.н.).</li>
                    </ul>
                </li>

                <li>
                    <h4>Отговорности на страните</h4>

                    <ul>
                        <li>
                            <p>Анулиране от страна на клиента:</p>

                            <ul>
                                <li>Анулиране 30+ дни преди пътуването: Възстановяване на 90% от платената сума.</li>
                                <li>Анулиране 15-30 дни преди пътуването: Възстановяване на 50%.</li>
                                <li>Анулиране под 15 дни: Неустойка в размер на 100%.</li>
                            </ul>
                        </li>
                            
                        <li>
                            <p>Промени в резервацията:</p>

                            <ul>
                                <li>Смяна на имена на пътниците или датите може да подлежи на допълнителна такса, определена 
                                    от доставчиците.</li>
                            </ul>
                        </li>
                            
                        <li>Форсмажорни обстоятелства: Ако пътуването бъде отменено поради независещи от клиента или 
                            агенцията причини, платените суми ще бъдат възстановени частично или изцяло.</li>
                    </ul>
                </li>

                <li>
                    <h4> Отговорности на страните</h4>

                    <ul>
                        <li>
                            <p>Клиентът е длъжен да:</p>

                            <ul>
                                <li>Предостави вярна и актуална информация.</li>
                                <li>Се увери, че всички необходими документи за пътуването (паспорт, виза, застраховка) 
                                    са в изрядност.</li>
                                <li>Се яви навреме на уговорените срещи или настаняване.</li>
                            </ul>
                        </li>

                        <li>
                            <p>„Sunrise Travel“ се ангажира да:</p>

                            <ul>
                                <li>Осигури точно изпълнение на резервираните услуги.</li>
                                <li>Информира клиентите за всякакви важни промени в графика или условията на пътуването.</li>
                                <li>Оказва съдействие в случай на непредвидени ситуации.</li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li>
                    <h4>Права за отказ</h4>
                    <p>Агенцията си запазва правото да откаже резервация, ако:</p>

                    <ul>
                        <li>Клиентът не изпълни условията за плащане.</li>
                        <li>Доставчикът (хотел, транспортна компания и т.н.) не може да потвърди услугата.</li>
                        <li>Появят се форсмажорни обстоятелства, които правят изпълнението на услугата невъзможно.</li>
                    </ul>
                </li>

                <li>
                    <h4>Политика за личните данни</h4>

                    <ul>
                        <li>Всички лични данни, предоставени от клиента, ще бъдат обработвани в съответствие с Общия 
                            регламент за защита на данните (GDPR).</li>
                        <li>Данните ще се използват единствено за целите на изпълнението на договора – резервации, 
                            издаване на билети, хотелски настанявания и др.</li>
                        <li>Личните данни няма да бъдат предоставяни на трети страни без изричното съгласие на клиента.</li>
                    </ul>                   
                </li>

                <li>
                    <h4>Политика за използване на уебсайта</h4>

                    <ul>
                        <li>Потребителите нямат право да копират, разпространяват или публикуват съдържание от уебсайта без 
                            изричното разрешение на агенцията.</li>
                        <li>Злоупотребата с услугите или опитите за хакване на системата са строго забранени и ще доведат 
                            до правни действия.</li>
                    </ul>
                </li>

                <li>
                    <h4>Условия за пътуване</h4>
                    <p>Клиентът трябва да носи отговорност за:</p>

                    <ul>
                        <li>Проверка на валидността на паспорта (обикновено минимум 6 месеца преди изтичане).</li>
                        <li>Изискванията за виза за конкретната дестинация.</li>
                        <li>Съответствие с местните закони и културни норми по време на пътуването.</li>
                    </ul>
                </li>

                <li>
                    <h4>Форсмажорни обстоятелства</h4>

                    <ul>
                        <li>Форсмажорни обстоятелства включват, но не се ограничават до: природни бедствия, пандемии, 
                            стачки, война, терористични актове.</li>
                        <li>В такива случаи агенцията ще направи всичко възможно за минимизиране на неудобствата, но 
                            не носи отговорност за събития, извън нейната власт.</li>
                    </ul>
                </li>

                <li>
                    <h4>Рекламации</h4>

                    <ul>
                        <li>Клиентът има право да подаде рекламация в срок до 7 дни след приключване на пътуването.</li>
                        <li>Рекламациите трябва да бъдат в писмена форма и да включват конкретни детайли за проблема.</li>
                        <li>Агенцията се задължава да разгледа рекламацията и да отговори в срок до 14 дни.</li>
                    </ul>
                </li>

                <li>
                    <h4>Промени в общите условия</h4>

                    <ul>
                        <li>„Sunrise Travel“ си запазва правото да променя настоящите общи условия по всяко време.</li>
                        <li>Промените влизат в сила след публикуването им на уебсайта.</li>
                    </ul>
                </li>
            </ol>
        </article>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

    <script src="\js\show-menu.js"></script>

</body>
</html>