<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/index-styles.css">
    <title>Sunrise Travel</title>
</head>

<body>
    
    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <div class="carousel">
            <div class="carousel-container">
                <div class="carousel-item">
                    <img src="/images/index-carousel/spring.png" alt="Spring">
                    <div class="caption">Искаш ли си да се разхождаш сред този магически пейзаж – безкрайни поля с нежни 
                        пролетни цветя, обгърнати от свежестта на планинските върхове. Тишината е прекъсвана единствено от 
                        песента на птиците, а чистият въздух те зарежда с енергия. Искаш ли тази пролет да се откъснеш от 
                        шума на града и да се потопиш в природата?</div>
                </div>
                <div class="carousel-item">
                    <img src="/images/index-carousel/summer.avif" alt="Summer">
                    <div class="caption">А може би това лято искаш да почиваш на някой далечен екзотичен остров? 
                        Избери магията на морската прохлада, синевата на небето, която се слива с хоризонта, и безкрайната 
                        морска шир, които обграждат това райско кътче. Тишината, нежният морски бриз и свободата да се 
                        насладиш на всеки миг са тук, чакайки те. Готов ли си за едно незабравимо лято край морето?</div>
                </div>
                <div class="carousel-item">
                    <img src="/images/index-carousel/autumn.png" alt="Autumn">
                    <div class="caption">А представяш ли си една почивка, обгърната от топлата прегръдка на есента? 
                        Златни листа, нежно постлани по земята, хълмове, обагрени в червено и оранжево, и прохладен 
                        въздух, изпълнен с аромата на свежест. Есента е времето, когато природата разказва най-красивите 
                        си истории – време за разходки, спокойствие и презареждане. Готов ли си да се потопиш в този уют 
                        и да усетиш магията на есенната почивка? </div>
                </div>
                <div class="carousel-item">
                    <img src="/images/index-carousel/winter.jpg" alt="Winter">
                    <div class="caption">Мечтал ли си да прекараш зимната си почивка под танцуващите светлини на северното 
                        сияние? Нощното небе, озарено от магически зелени и лилави отблясъци, създава приказна атмосфера, 
                        която няма да забравиш. Заснежени пейзажи, тишина, прекъсвана само от лекото скърцане на снега под 
                        краката ти, и уют край топъл огън след дългия ден. Това е твоят шанс да преживееш истинска зимна 
                        приказка – готов ли си за това неземно изживяване?</div>
                </div>
                <div class="carousel-item">
                    <img src="/images/index-carousel/holiday.jpg" alt="Holiday">
                    <div class="caption">Мечтаеш за перфектната почивка? Независимо дали е пролетната свежест на разцъфналите 
                        поля, летният бриз край морето, есенната прегръдка на златните листа или зимната магия под северното 
                        сияние – времето е винаги подходящо да се откъснеш от ежедневието! Резервирай своята мечтана почивка 
                        още днес и се наслади на красотата на природата през любимия ти сезон.</div>
                </div>
            </div>
            <button class="prev">❮</button>
            <button class="next">❯</button>
        </div>

        <div class="statistics">
            <div class="item">
                <p class="number">10 000+</p>
                <h4>Доволни клиенти</h4>
                <p>Клиентите ни се връщат с усмивки, споделени спомени и желание за нови приключения</p>
            </div>

            <div class="item">
                <p class="number">500+</p>
                <h4>Осъществени екскурзии</h4>
                <p>Превръщаме мечтаните дестинации в реалност, изпълнена с незабравими моменти и вдъхновение</p>
            </div>

            <div class="item">
                <p class="number">50+</p>
                <h4>Дестинации</h4>
                <p>Богат избор от дестинации за всеки вкус – от екзотични плажове до планински приключения</p>
            </div>

            <div class="item">
                <p class="number">24/7</p>
                <h4>На ваше разположение</h4>
                <p>Нашият екип е на линия, за да осигури безупречно обслужване и незабравимо пътуване</p>
            </div>
        </div>

        <div class="destinations">
            <h2 class="section-title">Дестинации</h2>

            <div class="destinations-section">
                <article class="destination-article" th:each="destination : ${destinations}">
                    <div class="image-container">
                        <img alt="article image" th:src="${destination.getImageUrl()}">
                    </div>

                    <div class="article-content">
                        <h3 th:text="${destination.getName()}">Име на дестинацията</h3>

                        <div class="content">
                            <p>Континент: <span th:text="${destination.getContinentName()}"></span></p>
                            <p>Столица: <span th:text="${destination.getCapital()}"></span></p>
                            <p>Часова разлика: <span th:text="${destination.getTimeDifference()}"></span></p>
                        </div>

                        <a th:href="@{/destinations/{name}(name=${destination.getName()})}"
                                class="button-see-more">Виж повече</a>
                    </div>
                </article>
            </div>
        </div>

        <div class="excursions">
            <h2 class="section-title">Екскурзии</h2>

            <div class="excursions-section">
                <article class="excursion-article" th:each="excursion : ${excursions}">
                    <div class="image-container">
                        <img alt="article image" th:src="${excursion.getImageUrl()}">
                    </div>

                    <div class="article-content">
                        <h3 th:text="${excursion.getName()}">Име на екскурзията</h3>

                        <div class="content">
                            <p>Дестинация: <span th:text="${excursion.getDestination()}"></span></p>
                            <p>Транспорт: <span th:text="${excursion.getTransport()}"></span></p>
                            <p>Продължителност: <span th:text="${excursion.getEndurance()} + ' дни'"></span></p>
                            <p>Цена: <span th:text="${excursion.getPrice()} + ' лв.'"></span></p>
                        </div>

                        <a th:href="@{/excursions/excursion-details/{excursionName}(excursionName=${excursion.getName()})}"
                           class="button-see-more">Виж повече</a>
                    </div>
                </article>
            </div>

            <a th:href="@{/excursions}" class="button-see-more">Виж всички</a>
        </div>

        <div class="faq">
            <h2 class="section-title">Често задавани въпроси (FAQ)</h2>

            <div class="list-box">
                <details>
                    <summary>Каква е средната продължителност на екскурзиите?</summary>
                    <p>Екскурзиите ни продължават средно от 1 до 10 дни.</p>
                </details>

                <details>
                    <summary>С какъв вид транспорт се осъществяват екскурзиите?</summary>
                    <p>Екскурзиите се осъществява със следните типове транспорт: самолет, автобус, круиз.</p>
                </details>

                <details>
                    <summary>Какво включва цената на екскурзиите?</summary>
                    <ul class="tick">
                        <li>Транспорт в двете посоки;</li>
                        <li>Всички описани в програмите трансфери;</li>
                        <li>Всички описани в програмите нощувки;</li>
                        <li>Водач-преводач от България;</li>
                        <li>Застраховка "Помощ при пътуване в чужбина" с асистанс и лимит на отговорност 30 000 EUR 
                            на "Застрахователно Дружество Евроинс" АД.</li>
                    </ul>
                </details>

                <details>
                    <summary>Какво НЕ включва цената на екскурзиите?</summary>
                    <ul class="cross">
                        <li>Виза за държавите, в които се изисква;</li>
                        <li>Разходи от личен характер;</li>
                        <li>Бакшиши (2 AUD на турист на ден за екскурзовода и 1 AUD на турист на ден за шофьора);</li>
                        <li>За лица над 65 г. автоматично се добавя доплащане за завишена застрахователна премия;</li>
                        <li>Застраховка "Отмяна на пътуване" (Препоръчваме Ви сключването на тази застраховка!).</li>
                    </ul>
                </details>
            </div>
        </div>

        <div class="subscribe" id="subscribe">
            <h2 class="section-title">Абонирай се за нашите оферти</h2>

            <p>Абонирай се, за да получаваш първи най-новите ни предложения за екскурзии!</p>

            <div th:if="${successMessage}" class="alert alert-success" role="alert">
                <p class="success" th:text="${successMessage}"></p>
            </div>

            <div th:if="${failureMessage}" class="alert alert-failure" role="alert">
                <p th:text="${failureMessage}"></p>
            </div>

            <div class="subscription-form">
                <form class="form-subscribe"
                      th:method="POST"
                      th:action="@{/subscribe}"
                      th:object="${addSubscriberDTO}">

                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

                    <input th:field="*{email}"
                           th:errorclass="is-invalid"
                           type="email" name="email" id="email" placeholder="Email...">
                    <input type="submit" value="Абонирай се">
                    <small th:if="${#fields.hasErrors('email')}"
                           th:errors="*{email}"
                           class="text-danger">Dish name error message</small>
                </form>
            </div>
        </div>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

    <script src="\js\carousel.js"></script>
    <script src="\js\animation.js"></script>
    <script src="\js\show-menu.js"></script>
    <script src="\js\show-menu-profile.js"></script>
    <script src="\js\show-menu-team.js"></script>

</body>
</html>