<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/login-form-styles.css">
    <title>Вход в системата</title>
</head>
<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <h1>Вход в системата</h1>

        <div class="introduction">
            <p>Все още не си част от екипа ни? <a th:href="@{/register}">Кандидатствай</a> тук.</p>
        </div>

        <div th:if="${failureMessage}" class="alert alert-failure" role="alert">
            <p th:text="${failureMessage}"></p>
        </div>

        <form class="login-form"
              th:action="@{/employees/login}"
              th:method="POST">

            <!-- CSRF токен -->
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

            <fieldset>
                <legend>Данни за вход</legend>

                <div class="field">
                    <input type="email" name="email" id="email" placeholder="E-mail" required>
                    <label for="email">E-mail</label>
                </div>
        
                <div class="field">
                    <input type="password" name="password" id="password" placeholder="Парола" required>
                    <label for="password">Парола</label>
                </div>
            </fieldset>

            <span>Тези полета са задължителни</span>
    
            <input type="submit" value="Вход">
        </form>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

    <script src="\js\show-menu.js"></script>

</body>
</html>