<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/profile-styles.css">
    <title>Профил</title>
</head>

<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <p>Присъедини се към нашия екип и открий нови възможности! При нас ще намериш вдъхновяваща работна среда, екип от
            подкрепящи и мотивирани колеги, както и  конкурентно възнаграждение и ясни перспективи за растеж. Не чакай повече
            – попълни формуляра по-долу, и ние ще се свържем с теб, за да обсъдим възможностите и да разберем дали сме
            точния екип за теб!</p>
        <p>Вече си част от екипа ни? <a th:href="@{/login}">Влез</a> в своя профил.</p>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

    <script src="\js\show-menu.js"></script>

</body>

</html>