<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/profile-styles.css">
    <title>Профил</title>
</head>

<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <h1>Вашият профил</h1>

        <p th:text="'Добре дошли, ' + ${employee.getFullName()} + '!'"></p>

        <div th:if="${successMessage}" class="alert alert-success" role="alert">
            <p class="success" th:text="${successMessage}"></p>
        </div>

        <div th:if="${failureMessage}" class="alert alert-failure" role="alert">
            <p th:text="${failureMessage}"></p>
        </div>

        <section class="profile-info">
            <ul>
                <li>
                    <div>
                        <span>Име и фамилия: </span>
                        <span th:text="${employee.getFullName()}"></span>
                    </div>
                    <div class="buttons">
                        <button class="edit-btn">Редактирай</button>
                        <form th:method="PUT"
                              th:action="@{/employees/profile/update/{info}(info='fullName')}"
                              style="display: none;">
                            <input type="text" name="updatedInfo" style="display: none;">
                            <button class="save-btn" type="submit">Запази</button>
                        </form>
                    </div>
                </li>
                <li>
                    <div>
                        <span>E-mail: </span>
                        <span th:text="${employee.getEmail()}"></span>
                    </div>
                    <div class="buttons">
                        <button class="edit-btn">Редактирай</button>
                        <form th:method="PUT"
                              th:action="@{/employees/profile/update/{info}(info='email')}"
                              style="display: none;">
                            <input type="text" name="updatedInfo" style="display: none;">
                            <button class="save-btn" type="submit">Запази</button>
                        </form>
                    </div>
                </li>
                <li>
                    <div>
                        <span>Телефонен номер: </span>
                        <span th:text="${employee.getPhoneNumber()}"></span>
                    </div>
                    <div class="buttons">
                        <button class="edit-btn">Редактирай</button>
                        <form th:method="PUT"
                              th:action="@{/employees/profile/update/{info}(info='phoneNumber')}"
                              style="display: none;">
                            <input type="text" name="updatedInfo" style="display: none;">
                            <button class="save-btn" type="submit">Запази</button>
                        </form>
                    </div>
                </li>
                <li>
                    <div>
                        <span>Дата на назначаване: </span>
                        <span th:text="${#temporals.format(employee.getHiredOn(), 'dd.MM.yyyy г.')}"></span>
                    </div>
                </li>
                <li>
                    <div>
                        <span>Адрес: </span>
                        <span th:text="${employee.getAddress()}"></span>
                    </div>
                    <div class="buttons">
                        <button class="edit-btn">Редактирай</button>
                        <form th:method="PUT"
                              th:action="@{/employees/profile/update/{info}(info='address')}"
                              style="display: none;">
                            <input type="text" name="updatedInfo" style="display: none;">
                            <button class="save-btn" type="submit">Запази</button>
                        </form>
                    </div>
                </li>
                <li>
                    <div>
                        <span>Степен на образование: </span>
                        <span th:text="${employee.getEducation()}"></span>
                    </div>
                    <div class="buttons">
                        <button class="edit-btn" th:if="${employee.getEducation() != 'Висше'}">Редактирай</button>
                        <form th:method="PUT"
                              th:action="@{/employees/profile/update/{info}(info='education')}"
                              style="display: none;">
                            <input type="text" name="updatedInfo" style="display: none;">
                            <button class="save-btn" type="submit">Запази</button>
                        </form>
                    </div>
                </li>
                <li th:if="${employee.specialty != null && employee.specialty != ''}">
                    <div>
                        <span>Специалност: </span>
                        <span th:text="${employee.getSpecialty()}"></span>
                    </div>
                    <div class="buttons">
                        <button class="edit-btn">Редактирай</button>
                        <form th:method="PUT"
                              th:action="@{/employees/profile/update/{info}(info='specialty')}"
                              style="display: none;">
                            <input type="text" name="updatedInfo" style="display: none;">
                            <button class="save-btn" type="submit">Запази</button>
                        </form>
                    </div>
                </li>
                <li>
                    <div>
                        <span>Работна квалификация: </span>
                        <span th:text="${employee.getRole()}"></span>
                    </div>
                </li>
                <li>
                    <div>
                        <span>Говорими езици: </span>
                        <span th:text="${employee.getLanguages()}"></span>
                    </div>
                    <div class="buttons">
                        <button class="edit-btn">Редактирай</button>
                        <form th:method="PUT"
                              th:action="@{/employees/profile/update/{info}(info='languages')}"
                              style="display: none;">
                            <input type="text" name="updatedInfo" style="display: none;">
                            <button class="save-btn" type="submit">Запази</button>
                        </form>
                    </div>
                </li>
            </ul>
        </section>

        <div class="edit-buttons">
            <button class="edit-password-btn">Редактирай паролата си</button>

            <form th:method="PUT"
                  th:action="@{/employees/profile/update/password}"
                  th:object="${updatePasswordDTO}"
                  style="display: none;">

                <div class="field">
                    <label>Стара парола: </label>
                    <input type="password" name="oldPassword"
                           th:field="*{oldPassword}"
                           th:errorclass="is-invalid"
                           style="display: none;">
                    <small th:if="${#fields.hasErrors('oldPassword')}"
                           th:errors="*{oldPassword}"
                           class="text-danger">Dish name error message</small>
                </div>

                <div class="field">
                    <label>Нова парола: </label>
                    <input type="password" name="newPassword"
                           th:field="*{newPassword}"
                           th:errorclass="is-invalid"
                           style="display: none;">
                    <small th:if="${#fields.hasErrors('newPassword')}"
                           th:errors="*{newPassword}"
                           class="text-danger">Dish name error message</small>
                </div>

                <div class="field">
                    <label>Повторете новата си парола: </label>
                    <input type="password" name="confirmNewPassword"
                           th:field="*{confirmNewPassword}"
                           th:errorclass="is-invalid"
                           style="display: none;">
                    <small th:if="${#fields.hasErrors('confirmNewPassword')}"
                           th:errors="*{confirmNewPassword}"
                           class="text-danger">Dish name error message</small>
                </div>

                <button class="save-password-btn" type="submit">Запази</button>
            </form>
        </div>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

    <script src="\js\show-menu.js"></script>
    <script src="\js\show-menu-profile.js"></script>
    <script src="\js\show-menu-team.js"></script>
    <script src="\js\edit-field.js"></script>
    <script src="\js\edit-password.js"></script>

</body>

</html>