<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/profile-styles.css">
    <title>Профил</title>
</head>

<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <h1>Вашият профил</h1>

        <p th:text="'Добре дошли, ' + ${employee.getFullName()} + '!'"></p>

        <section class="profile-info">
            <ul>
                <li><span>Потребителско име: </span><span th:text="${employee.getUsername()}"></span></li>
                <li><span>E-mail: </span><span th:text="${employee.getEmail()}"></span></li>
                <li><span>Телефонен номер: </span><span th:text="${employee.getPhoneNumber()}"></span></li>
                <li><span>Адрес: </span><span th:text="${employee.getAddress()}"></span></li>
                <li><span>Степен на образование: </span><span th:text="${employee.getEducation()}"></span></li>
                <li th:if="${employee.specialty != null && employee.specialty != ''}">
                    <span>Специалност: </span><span th:text="${employee.getSpecialty()}"></span>
                </li>
                <li><span>Работна квалификация: </span><span th:text="${employee.getRole()}"></span></li>
                <li><span>Говорими езици: </span><span th:text="${employee.getLanguages()}"></span></li>
            </ul>
        </section>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

    <script src="\js\show-menu.js"></script>
    <script src="\js\show-menu-profile.js"></script>
    <script src="\js\show-menu-team.js"></script>

</body>

</html>