<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/register-form-styles.css">
    <title>Стани част от екипа</title>
</head>
<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <h1>Стани част от екипа на Sunrise Travel</h1>

        <div class="introduction">
            <p>Присъедини се към нашия екип и открий нови възможности! При нас ще намериш вдъхновяваща работна среда, екип от 
                подкрепящи и мотивирани колеги, както и  конкурентно възнаграждение и ясни перспективи за растеж. Не чакай повече 
                – попълни формуляра по-долу, и ние ще се свържем с теб, за да обсъдим възможностите и да разберем дали сме 
                точния екип за теб!</p>
            <p>Вече си част от екипа ни? <a th:href="@{/login}">Влез</a> в своя профил.</p>
        </div>

        <form class="register-form"> 
            <fieldset>
                <legend>Данни за контакт</legend>

                <div class="personal-info">
                    <div class="field">
                        <input type="text" id="firstName" name="firstName" placeholder="Име" required>
                        <label for="firstName">Име</label>
                    </div>
    
                    <div class="field">
                        <input type="text" id="lastName" name="lastName" placeholder="Фамилия" required>
                        <label for="lastName">Фамилия</label>
                    </div>
                </div>
                
                <div class="personal-info">
                    <div class="field">
                        <input type="email" name="email" id="email" placeholder="Имейл" required>
                        <label for="email">Имейл</label>
                    </div>
            
                    <div class="field">
                        <input type="text" name="phoneNumber" id="phoneNumber" placeholder="Телефон" required>
                        <label for="phoneNumber">Телефон</label>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Допълнителна информация</legend>

                <div class="field">
                    <input type="text" id="address" name="address" placeholder="Местожителство" required>
                    <label for="address">Местожителство</label>
                    <span>Напр. Мадан 4900, Смолян, България</span>
                </div>

                <div class="field">
                    <select name="education-level" id="education-level">
                        <option value="">-- Изберете степен на образование --</option>
                        <option value="PRIMARY">Основно</option>
                        <option value="SECONDARY">Средно</option>
                        <option value="UNIVERSITY_DEGREE">Висше</option>
                    </select>
                </div>

                <div class="field">
                    <input type="text" id="education" name="education" placeholder="Степен на образование">
                    <label for="education">Изучавана специалност</label>
                    <span>(Ако сте посочили степен на образование Висше)</span>
                </div>

                <div class="field">
                    <input type="text" id="languages" name="languages" placeholder="Езици и ниво на владеене" required>
                    <label for="languages">Езици, които говорите свободно</label>
                    <span>Напр. английски, немски и т.н.</span>
                </div>
            </fieldset>
        
            <div class="additional-info">
                <p>Тези полета са задължителни!</p>
                <p>Моля попълнете формата на кирилица! При попълване на латиница автоматично ще бъдете отхвърлени!</p>
                <p>Всички данни, предоставени от Вас, са защитени по смисъла на ЗЗЛД и ще бъдат използвани единствено за целите 
                    на настоящия подбор.</p>
            </div>
    
            <input type="submit" value="Изпрати кандидатура">
        </form>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

    <script src="\js\show-menu.js"></script>
</body>
</html>