<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/reservations-styles.css">
    <title>Резервации</title>
</head>
<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <h1>Резервации</h1>

        <div th:if="${successMessage}" class="alert alert-success" role="alert">
            <p class="success" th:text="${successMessage}"></p>
        </div>

        <div th:if="${failureMessage}" class="alert alert-failure" role="alert">
            <p th:text="${failureMessage}"></p>
        </div>

        <div class="reservations-info">

            <div class="reservation-info-excursion" th:each="entry : ${reservationsMap}">
                <h2>Резервации за <span th:text="${entry.key}">Име на екскурзията</span></h2>

                <table class="reservations-info-table">
                    <tbody>
                    <tr>
                        <td class="fullName">Резервирал</td>
                        <td class="email">E-mail</td>
                        <td class="phoneNumber">Телефон</td>
                        <td class="payment">Плащане</td>
                        <td class="touristsCount">Брой туристи</td>
                        <td class="touristNames">Туристи</td>
                        <td class="comments">Коментари</td>
                    </tr>
                    <tr th:each="reservation : ${entry.value.reservations}">
                        <td th:text="${reservation.getFullName()}" class="fullName">Резервирал</td>
                        <td th:text="${reservation.getEmail()}" class="email">E-mail</td>
                        <td th:text="${reservation.getPhoneNumber()}" class="phoneNumber">Телефон</td>
                        <td th:text="${reservation.getPayment()}" class="payment">Плащане</td>
                        <td th:text="${reservation.getTouristsCount()}" class="touristsCount">Брой туристи</td>
                        <td th:text="${reservation.getTouristNames()}" class="touristNames">Туристи</td>
                        <td th:text="${reservation.getComments()}" class="comments">Коментари</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <p th:if="${#maps.isEmpty(reservationsMap)}">Все още няма направени резервации!</p>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

    <script src="\js\show-menu.js"></script>
    <script src="\js\show-menu-profile.js"></script>
    <script src="\js\show-menu-team.js"></script>

</body>
</html>