<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/reservations-styles.css">
    <title>Резервации</title>
</head>
<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <h1>Резервации</h1>

        <p th:if="${warningMessage}" th:text="${warningMessage}"></p>

        <div th:if="${successMessage}" class="alert alert-success" role="alert">
            <p class="success" th:text="${successMessage}"></p>
        </div>

        <div th:if="${failureMessage}" class="alert alert-failure" role="alert">
            <p th:text="${failureMessage}"></p>
        </div>

        <div class="reservations-info">

            <div class="reservation-info-excursion" th:each="excursion : ${excursions}">
                <h2>Резервации за <span th:text="${excursion.getExcursionName()}">Име на екскурзията</span>:
                    <span th:text="${excursion.getTotalTourists()}"></span></h2>

                <table class="reservations-info-table">
                    <tbody>
                    <tr>
                        <td class="fullName">Резервирал</td>
                        <td class="date">Дата</td>
                        <td class="excursionDate">Дата на екскурзията</td>
                        <td class="email">E-mail</td>
                        <td class="phoneNumber">Телефон</td>
                        <td class="payment">Плащане</td>
                        <td class="touristsCount">Брой туристи</td>
                        <td class="touristNames">Туристи</td>
                        <td class="comments">Коментари</td>
                    </tr>
                    <tr th:each="reservation : ${excursion.getReservations()}">
                        <td th:text="${reservation.getFullName()}" class="fullName">Резервирал</td>
                        <td th:text="${#temporals.format(reservation.getDate(), 'dd.MM.yyyy г.')}" class="date">Дата</td>
                        <td th:text="${#temporals.format(reservation.getExcursionDate(), 'dd.MM.yyyy г.')}" class="excursionDate">
                            Дата на екскурзията</td>
                        <td th:text="${reservation.getEmail()}" class="email">E-mail</td>
                        <td th:text="${reservation.getPhoneNumber()}" class="phoneNumber">Телефон</td>
                        <td th:text="${reservation.getPayment()}" class="payment">Плащане</td>
                        <td th:text="${reservation.getTouristsCount()}" class="touristsCount">Брой туристи</td>
                        <td class="touristNames">
                            <ol>
                                <li th:each="name : ${reservation.getTouristNames()}" th:text="${name}"></li>
                            </ol>
                        </td>
                        <td th:text="${reservation.getComments()}" class="comments">Коментари</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="pagination" th:if="${totalPages > 1}">
                <a th:if="${currentPage > 0}"
                   th:href="@{/excursions/reservations(page=${currentPage - 1}, size=${size})}">❮</a>

                <p th:if="${currentPage != null and totalPages != null}">Страница
                    <span th:text="${currentPage + 1}"></span> от <span th:text="${totalPages}"></span>
                </p>

                <a th:if="${currentPage + 1 < totalPages}"
                   th:href="@{/excursions/reservations(page=${currentPage + 1}, size=${size})}">❯</a>
            </div>

        </div>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

    <script src="\js\show-menu.js"></script>
    <script src="\js\show-menu-profile.js"></script>
    <script src="\js\show-menu-team.js"></script>

</body>
</html>