<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/reservation-form-styles.css">
    <title>Резервация</title>
</head>

<body>

    <header th:replace="~{fragments/commons::header}"></header>

    <main>
        <h1>Форма за резервация на екскурзия</h1>

        <div class="reservation-form">
            <form th:method="POST"
                    th:action="@{/excursions/reserve}"
                    th:object="${addReservationDTO}">

                <div class="field">
                    <label for="excursionName">Екскурзия: </label>
                    <input type="hidden" name="excursionName" th:value="${excursionName}">
                    <input th:value="${excursionName}"
                           type="text" id="excursionName" disabled>
                </div>

                <div class="field">
                    <label for="destination">Дестинация: </label>
                    <input th:value="${excursionDestination}"
                            type="text" id="destination" name="destination" disabled>
                </div>

                <div class="field">
                    <label for="date">Дата на отпътуване: </label>
                    <input th:value="${excursionDate}"
                            type="date" id="date" name="date" disabled>
                </div>

                <div class="field">
                    <label for="transport">Вид транспорт: </label>
                    <input th:value="${excursionTransport}"
                           type="text" id="transport" name="transport" disabled>
                </div>

                <div class="field">
                    <label for="endurance">Брой нощувки: </label>
                    <input th:value="${excursionEndurance}"
                           type="number" step="1" id="endurance" name="endurance" disabled>
                </div>

                <div class="field">
                    <label for="touristsCount" class="required">Брой туристи: </label>
                    <input th:field="*{touristsCount}"
                           th:errorclass="is-invalid"
                            type="number" step="1" id="touristsCount" name="touristsCount">
                    <small th:if="${#fields.hasErrors('touristsCount')}"
                           th:errors="*{touristsCount}"
                           class="text-danger">Dish name error message</small>
                </div>

                <div class="field">
                    <label for="fullName" class="required">Три имена по паспорт/лична карта: </label>
                    <input th:field="*{fullName}"
                           th:errorclass="is-invalid"
                            type="text" id="fullName" name="fullName">
                    <small th:if="${#fields.hasErrors('fullName')}"
                           th:errors="*{fullName}"
                           class="text-danger">Dish name error message</small>
                </div>

                <div class="field">
                    <label for="phoneNumber" class="required">Телефон: </label>
                    <input th:field="*{phoneNumber}"
                           th:errorclass="is-invalid"
                            type="text" id="phoneNumber" name="phoneNumber">
                    <small th:if="${#fields.hasErrors('phoneNumber')}"
                           th:errors="*{phoneNumber}"
                           class="text-danger">Dish name error message</small>
                </div>

                <div class="field">
                    <label for="email" class="required">Email: </label>
                    <input th:field="*{email}"
                           th:errorclass="is-invalid"
                            type="email" id="email" name="email">
                    <small th:if="${#fields.hasErrors('email')}"
                           th:errors="*{email}"
                           class="text-danger">Dish name error message</small>
                </div>

                <div class="field">
                    <label for="payment" class="required">Начин на плащане: </label>
                    <select th:field="*{payment}"
                            th:errorclass="is-invalid"
                            name="payment" id="payment">
                        <option value="">-- Изберете начин на плащане --</option>
                        <option value="CREDIT_CARD">Кредитна карта</option>
                        <option value="BANK_PAYMENT">Банков превод</option>
                        <option value="IN_CASH">Наложен платеж</option>
                    </select>
                    <small th:if="${#fields.hasErrors('payment')}"
                           th:errors="*{payment}"
                           class="text-danger">Dish name error message</small>
                </div>

                <div class="field textarea">
                    <label for="touristNames" class="required">Списък на всички туристи, които ще пътуват: </label>
                    <textarea th:field="*{touristNames}"
                              th:errorclass="is-invalid"
                            type="text" id="touristNames" name="touristNames">
                        Напр. Иван Иванов Иванов, Алексия Стоянова Трифонова</textarea>
                    <small th:if="${#fields.hasErrors('touristNames')}"
                           th:errors="*{touristNames}"
                           class="text-danger">Dish name error message</small>
                </div>

                <div class="field textarea">
                    <label for="comments">Коментар или допълнителна информация: </label>
                    <textarea th:field="*{comments}"
                              th:errorclass="is-invalid"
                            id="comments" name="comments">Напишете своя коментар тук...</textarea>
                    <small th:if="${#fields.hasErrors('comments')}"
                           th:errors="*{comments}"
                           class="text-danger">Dish name error message</small>
                </div>

                <p>Тези полета са задължителни!</p>

                <button type="submit">Изпрати</button>
            </form>
        </div>
    </main>

    <footer th:replace="~{fragments/commons::footer}"></footer>

    <script src="\static\js\show-menu.js"></script>
    <script src="\static\js\show-menu-profile.js"></script>

</body>
</html>