<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunrise Travel</title>
    <link rel="stylesheet" href="/css/email-styles.css"/>
    <link rel="stylesheet" href="/css/reset.css"/>
</head>

<body>

    <div class="email-container">
        <h1>Временна парола за достъп до профила ви</h1>

        <div class="content">
            <p>Уважаеми/а <span th:text="${fullName}">[Име на новия служител]</span>,</p>

            <p>Получихме известие, че сте забравили паролата си.</p>

            <p>Моля използвайте имейла си и следната временна парола за достъп до вашия профил:</p>
            <ul>
                <li>E-mail: <span th:text="${email}">[E-mail]</span></li>
                <li>Временна парола: <span th:text="${password}">[Временна парола]</span></li>
            </ul>

            <p>Препоръчваме ви след като влезете в профила си да смените предоставената парола!</p>

            <p>Съхранявайте вашите идентификационни данни на сигурно място и не ги споделяйте с трети лица,
                тъй като те осигуряват достъп до работната ви среда.</p>

            <p>С най-добри пожелания,<br>Екипът на Sunrise Travel Agency Bulgaria</p>
        </div>
    </div>

</body>
</html>