<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunrise Travel</title>
    <link rel="stylesheet" href="/css/email-styles.css"/>
    <link rel="stylesheet" href="/css/reset.css"/>
</head>

<body>
    <h1>Ново запитване за екскурзия <span th:text="${excursionName}"></span></h1>

    <p>Име: <span th:text="${name}"></span></p>
    <p>Имейл: <span th:text="${email}"></span></p>
    <p>Телефон: <span th:text="${phone}"></span></p>
    <p>Екскурзия: <span th:text="${excursionName}"></span></p>
    <p>Запитване:</p>
    <p th:text="${message}"></p>

</body>
</html>